<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.kynga.app"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:name=".KyngaApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <service android:name=".util.DownloadService" />
        <service android:name=".util.BannerLoader" />
        <service android:name=".util.LoaderService" />
        <service android:name=".util.CheckForUpdate" />
        <service
            android:name=".service.CheckService"
            android:enabled="true"
            android:stopWithTask="true" />

        <receiver
            android:name=".receiver.BootupReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.SMSReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.CheckReceiver"
            android:exported="false" />

        <activity
            android:name=".ui.activity.CekLoginActivity"
            android:screenOrientation="portrait">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.activity.MyAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activity.ChoosePayMethodActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activity.TopupActivity_page1"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activity.TopupActivity_ewallet"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activity.PackageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name=".ui.activity.FirstActivity0_new_10bubbles"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        </activity>
        <activity
            android:name=".ui.activity.FirstActivity_10bubbles"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.activity.RequestActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!--
        <activity
            android:name=".ui.activity.SplashActivityAppMStar"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        -->
        <activity
            android:name=".ui.activity.WebActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ui.activity.RegisterActivity_new"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activity.RegisterActivity_new2_box"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_login" />
        <activity
            android:name=".ui.activity.RegisterActivity_new2_Mobile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_login"/>
        <activity
            android:name=".ui.activity.RegisterActivity_cc"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activity.RegisterActivity_cc_Edit"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.activity.RegisterActivity_cc_Edit_confirm"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activity.ExoPlayerActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.YoutubeLive"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@style/OverlayActionBarTheme" />
        <activity
            android:name=".ui.activity.YoutubeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".ui.activity.F4ouKActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.RadioFragmentActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.YoutubePlayer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".ui.activity.VideoPlayer"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.FourKActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />

        <activity
            android:name=".ui.activity.LoginActivity_new"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_login"/>
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activity.LoginActivity_new2"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activity.VerificationActivity2"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activity.QRcode_MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.QRcode_ToolbarCaptureActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/AppCompatCaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ui.activity.VAstatusBCA_Permata"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ui.activity.VAstatusMandiri"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5725d471fa758dc3053837b7e05cca30acbf9f6c" />

        <!-- Kynga App -->
        <activity
            android:name=".ui.activity.PurchaseTutorialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ui.activity.PreferenceActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.PreferenceActivity" />
        </activity>
        <activity
            android:name=".ui.activity.ChooseBoxOrMobileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".ui.activity.SplashVideoCelestialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.SplashActivityAppMStar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".ui.activity.LoaderActivity_promo"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".ui.activity.LoginActivity_AppMStar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_login" />

        <activity
            android:name=".ui.activity.VerificationActivity2AppMStar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".ui.activity.LoaderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".ui.activity.LogoutActivityAppMStar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".ui.activity.TopupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".ui.activity.MainActivityAppMStar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".ui.activity.ProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".ui.activity.TCActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".ui.activity.TVActivityAppMStar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.FullScreen" />

        <activity
            android:name=".ui.activity.VideoGroupActivityAppMStar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"/>
        <activity
            android:name=".ui.activity.SummaryActivityAppMStar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"/>
        <activity
            android:name=".ui.activity.VideoCategoryActivityAppMStar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"/>
        <activity
            android:name=".ui.activity.SubscriptionFromPlayVideoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"/>

        <activity android:name="com.google.android.exoplayer2.demo.PlayerActivity"
            android:launchMode="singleTop"
            android:label="@string/application_name"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen"
            >
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="asset"/>
                <data android:scheme="file"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>

        <activity android:name="com.google.android.exoplayer2.demo.PlayerActivityNotFree"
            android:launchMode="singleTop"
            android:label="@string/application_name"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen"
            >
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:scheme="content"/>
                <data android:scheme="asset"/>
                <data android:scheme="file"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.YoutubeChannelActivityAppMStar"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.FullScreen"/>

        <activity
            android:name=".ui.activity.YoutubeActivityAppMStar"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.FullScreen"/>

        <activity
            android:name=".ui.activity.RadioActivity2AppMStar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"/>

        <activity
            android:name=".ui.activity.WebActivityAppMStar"
            android:configChanges="orientation"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.FullScreen"/>
        <activity
            android:name=".ui.activity.HappenTvLive"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.FullScreen"/>
        <activity
            android:name=".ui.activity.GameActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.FullScreen"/>

        <activity
            android:name=".ui.activity.YoutubeChannelActivityAppMStar_New"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.FullScreen"/>

        <service
            android:name=".service.RadioService"
            android:stopWithTask="true"
            android:enabled="true"
            android:theme="@style/AppTheme.FullScreen"/>
            <!--without fullscren ttheme making crash app..!! -->

        <activity
            android:name=".ui.activity.FAQActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"/>
        <activity
            android:name=".ui.activity.PolicyActivityAppMStar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"/>
        <activity
            android:name=".ui.activity.ParentalActivityAppMStar"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"/>

        <activity
            android:name=".ui.activity.StartArActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"/>

        <activity
            android:name=".ui.activity.AndroidLauncher"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"/>

        <activity
            android:name=".ui.activity.HomeARActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen"/>

    </application>

</manifest>
